:root {
    --cor1: #434343
}

body {
    background-color: var(--cor1);
}

.container {
    background-color: #636262;
    display: flex;
    justify-content: center;
    
}

input {
    background-color: #9C9C9C;
}

#user {
    color: white;
}

#Email {
    color: white;
}

#Senha {
    color: white;
}

#login {
    color: white;
}